pip
imutils==0.5.4
#keras_applications==1.0.8
#keras_preprocessing==1.1.0
six
pillow
wheel
mock
numpy
h5py
scipy
opencv-contrib-python
tensorflow
absl-py
google-api-python-client
wrapt
typing-extensions
opt_einsum
gast
astunparse
termcolor
flatbuffers
# picamera2

# https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl
https://github.com/google-coral/pycoral/releases/download/v2.0.0/tflite_runtime-2.5.0.post1-cp39-cp39-linux_aarch64.whl 

git+https://github.com/mk-michal/deep_sort
